.App{
    display: grid;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #549ad3;
    color: white;
}
.rsp-title {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: #eeeeee;
    text-align: center;
}
#screen {
    display: none;
}

#screen.show {
    display: flex;
}
.default-screen.hide {
    display: none;
}
.default-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0rem
}
.restart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.restart button {
    background-color: transparent;
    border: none;
}
.restart button img {
    max-width:6%;
    max-height: 6%;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
}
.App-middle {
    display: grid;
    padding-top: 2rem;
}
.App-middle div {
    justify-content: center;
    align-items: center;
}
.box-container div {
    padding: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.rsp-img {
    display: block;
    max-width: 30%;
    max-height: 37%;
    /* max-width:73px;
    max-height:100px; */
    width: auto;
    height: auto;
}
.player  {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin:20px;
}
.result-text {
    font-family: 'Roboto', sans-serif;
    font-size:1.4em;
    margin:20px;
}
.win {
    background-color: #02cf7d ;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.lose {
    background-color: #ff5f5f ;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.draw {
    background-color: #577c99 ;
}
.App-bottom {
    display: grid;
    /* padding-top: 2rem; */
}
.App-bottom div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container {
    padding-top: 0;
}
.rsp-btn {
    max-width: 4rem;
    max-height: 4rem;
    margin: 0.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.rsp-btn:hover {
    transform: scale(1.1);
}
.rsp-btn img {
    max-width: 100%;
    max-height: 100%;
}


/* Responsive design */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .rsp-title p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.8em;
        color: #eeeeee;
        text-align: center;
    }
    .box {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0;
        width: 150px;
        height: 250px;
        border-radius: 0;  
        box-shadow: 0px 0px 0px 0px;
    }
   
    .rsp-img {
        display: block;
        max-width: 65px;
        max-height: 90px;
        padding: 1rem;
    }
    .win {
        border-bottom: solid 10px rgb(1, 137, 101) ;
        background-color: transparent;
        box-shadow: 0px 0px 0px 0px;
    }
    .lose {
        border-bottom: solid 10px rgb(248, 158, 49) ;
        background-color: transparent;
        box-shadow: 0px 0px 0px 0px;
    }
    .draw {
        border-bottom: solid 10px rgb(56, 56, 56) ;
        background-color: transparent;
        box-shadow: 0px 0px 0px 0px;
    }
    .player{
        font-size: 22px;
    }
    .result-text {
        font-family:'Courier New', Courier, monospace;
        margin-top: 1rem;
        font-size:22px;
    }
    .btn-container {
        position: relative;
        padding-bottom: 5%;
        width: 100%;
        height: 150px;
    }
}

@media screen and (max-width: 480px) {
    .default-screen {
        margin-top: 0;
    }    
    .rsp-title {
        padding-top: 1em;
        margin-top: 0;
    }

    .rsp-title p{
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        text-align: center;
        color: #eeeeee;
        text-align: center;
    }
    .restart button img {
        max-width: 15%;
        max-height: 15%;
        margin-bottom: 0;
        cursor: pointer;
    }
    .box {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0;
        width: 150px;
        height: 300px;
        border-radius: 0;  
    }
    .player{
        font-size: 18px;
        margin-bottom: 3rem;
    }
    .rsp-img {
        display: block;
        max-width: 50px;
        max-height: 70px;
    }
    .win {
        border-bottom: solid 10px rgb(1, 137, 101) ;
        background-color: transparent;
        box-shadow: 0px 0px 0px 0px;
    }
    .lose {
        border-bottom: solid 10px rgb(248, 158, 49) ;
        background-color: transparent;
        box-shadow: 0px 0px 0px 0px;
    }
    .draw {
        border-bottom: solid 10px rgb(56, 56, 56) ;
        background-color: transparent;
        box-shadow: 0px 0px 0px 0px;
    }
    .App-middle {
        padding-top: 0;
    }

    .result-text {
        font-family:'Courier New', Courier, monospace;
        font-size:1em;
        margin-top: 3rem;
    }
    .btn-container {
        position: relative;
        padding-top:0;
        padding-bottom: 5%;
        width: 100%;
        height: 150px;
    }
    .rsp-btn {
        padding-top: 0;
    };
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
    .default-screen {
        font-size: 1.2em;
        margin-bottom: 0;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .App div {
        padding:0;
    }
    .rsp-title {
        font-family: 'Roboto', sans-serif;
        font-size: 3em;
        color: #f4f4f4;
        text-align: center;
        padding-top: 2rem;
    }
    .rsp-title p {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        color: #eeeeee;
        text-align: center;
    }

    .restart button img {

        max-width: 10%;
        max-height: 10%;
        padding-top: 0.5rem;
        margin-bottom: 0;
        cursor: pointer;
    }

    .rsp-btn {
        padding-top: 0;
        max-width: 76px;
        max-height: 76px;
        margin: 0.5rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .info {
        font-size: 1em;
        padding-top: 2rem;
    }
}
